<form action="/test" method="post">
    <input type="text" placeholder="username" name="username" id="username" required>
    <input type="text" placeholder="firstname" name="firstname" id="firstname" required>
    <input type="text" placeholder="lastname" name="lastname" id="lastname" required>
    <input type="date" name="birthdate" id="birthdate" required>
    <input type="text" list="browsers" placeholder="gender" name="gender" id="gender" required>
    <datalist id="browsers">
    <option value="m">m</option>
    <option value="f">f</option>
    <option value="o">o</option>
    </datalist>
    <input type="email" placeholder="email" name="email" id="email" required>
    <input type="password" placeholder="password" name="pass" id="pass" required>
    <button type="submit">Register</button>
</form>
